@import url('https://fonts.googleapis.com/css?family=Dosis:300,400|Quicksand:300,400,700');
@import url('https://use.fontawesome.com/releases/v5.6.1/css/all.css');

body {
  font-family: Quicksand, sans-serif;
  color: rgb(255, 255, 255);
}

.primary {
  font-size: 7.7rem;
  line-height: 6.6rem;
  font-weight: 700;
  text-align: center;
  color: #ffffff;

  @include media(small) {
    font-size: 6rem;
  }
}

.secondary {
  font-size: 48px;
  line-height: 66px;
  font-weight: 700;
}

.tertiary {
  font-size: 30px;
  line-height: 22px;
  font-weight: 300;
}

