.sprite {
  background-image: url(../../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-AMD_2x {
  width: 60px;
  height: 60px;
  background-position: -5px -5px;
}

.sprite-AVG_2x {
  width: 60px;
  height: 63px;
  background-position: -75px -5px;
}

.sprite-Android_2x {
  width: 60px;
  height: 71px;
  background-position: -145px -5px;
}

.sprite-Cooler_master_2x {
  width: 60px;
  height: 47px;
  background-position: -215px -5px;
}

.sprite-Dell_2x {
  width: 60px;
  height: 59px;
  background-position: -285px -5px;
}

.sprite-EA_2x {
  width: 60px;
  height: 60px;
  background-position: -215px -74px;
}

.sprite-HF2_2x {
  width: 60px;
  height: 52px;
  background-position: -285px -74px;
}

.sprite-HP_2x {
  width: 60px;
  height: 60px;
  background-position: -5px -136px;
}

.sprite-HTML5_2x {
  width: 60px;
  height: 67px;
  background-position: -75px -136px;
}

.sprite-Insta_2x {
  width: 60px;
  height: 60px;
  background-position: -145px -136px;
}

.sprite-Intel_2x {
  width: 60px;
  height: 40px;
  background-position: -285px -136px;
}

.sprite-KFC_2x {
  width: 60px;
  height: 62px;
  background-position: -215px -186px;
}

.sprite-LG_3x {
  width: 60px;
  height: 60px;
  background-position: -285px -186px;
}

.sprite-Layer_17_2x {
  width: 60px;
  height: 59px;
  background-position: -5px -256px;
}

.sprite-Layer_18_2x {
  width: 60px;
  height: 51px;
  background-position: -75px -256px;
}

.sprite-Layer_19_2x {
  width: 60px;
  height: 53px;
  background-position: -145px -256px;
}

.sprite-NIKE_2x {
  width: 60px;
  height: 30px;
  background-position: -285px -256px;
}

.sprite-Nivea_2x {
  width: 60px;
  height: 60px;
  background-position: -215px -296px;
}

.sprite-Shell_2x {
  width: 60px;
  height: 56px;
  background-position: -285px -296px;
}

.sprite-allegro_2x {
  width: 60px;
  height: 60px;
  background-position: -355px -5px;
}

.sprite-apple_2x {
  width: 60px;
  height: 75px;
  background-position: -355px -75px;
}

.sprite-bosh_2x {
  width: 60px;
  height: 60px;
  background-position: -355px -160px;
}

.sprite-microsoft_2x {
  width: 60px;
  height: 60px;
  background-position: -355px -230px;
}

.sprite-playstation_2x {
  width: 60px;
  height: 46px;
  background-position: -5px -75px;
}

.sprite-teamspeak_2x {
  width: 60px;
  height: 59px;
  background-position: -355px -300px;
}

.sprite-ubuntu_2x {
  width: 60px;
  height: 61px;
  background-position: -5px -369px;
}

.sprite-ups_2x {
  width: 60px;
  height: 71px;
  background-position: -425px -5px;
}

.sprite-vw_2x {
  width: 60px;
  height: 60px;
  background-position: -425px -86px;
}