.hero {
  background: url(../../img/down.png) no-repeat 50% 95% / 22px 31px, url(../../img/hero-img.jpg) no-repeat 50% 20% / cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;

  &__line {
    height: 1px;
    width: 17rem;
    flex-basis: 30%;
    background-color: #fff;
    margin: 0 1rem;
    opacity: .6;
  }

  &__text {
    display: flex;
    align-items: center;
    font-family: Dosis;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
  }

  &__btn {
    font-family: Quicksand;
    font-size: 1.8rem;
    font-weight: 400;
    color: rgb(255, 255, 255);
    border-radius: 5rem;
    border: 2px solid rgb(255, 255, 255);
    background: transparent;
    margin-top: 3rem;
    padding: 1.8rem 5rem;
    width: fit-content;
    cursor: pointer;
  }
}