.header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  align-content: center;
}

.about-us {
  margin: 0 auto;
  max-width: 120rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.our-team {
  
}