.header {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 1rem;
  align-content: center;

  @include media(small) {
    position: fixed;
    background: #fff;
    z-index: 10;
  }
}

.about-us {
  margin: 0 auto;
  max-width: 120rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.our-team {

  & + .portfolio {
    margin-top: 3rem;
  }
}

.footer {
  text-align: center;
  padding: 2.5rem 0;
  font-size: 12px;
  background-color: #0e0e0d;
  color: #4a4a4a;

  a {
    color: #4a4a4a;
    transition: .2s;

    &:hover {
      color: tint(#4a4a4a, 100%);
    }
  }
}